header.header(class=headerClasses)
  a.header__logo.logo(class=logoClasses href="/")
    img.logo__image(src="img/icons/logo-image-only.svg" alt="логотип Тайпотеки")
    span.logo__name Типотека

  if !user
    nav.header__nav 
      ul.header__nav-list 
        li.header__list-item 
          a.header__registration(href="/register") Регистрация
        li.header__list-item 
          a.header__enter(href="/login") Вход с паролем
    a.header__search.button.button--search(href="/search" aria-label="поиск по сайту")
  
  if user && user.role === "reader"
    nav.header__nav
      ul.header__nav-list
        li.header__list-item
          p #{user.firstname} #{user.lastname}
        li.header__list-item
          a.header__exit(href="/login?logout=true") Выйти
    a.header__avatar.avatar
      if user.avatar
        img(src=`img/avatars/${user.avatar}` alt="аватар пользователя")
    a.header__search.button.button--search(href="/search" aria-label="поиск по сайту")

  if user && user.role === "admin"
    a.button.button--colored.header__button-new(href="/articles/add") Новая запись
    div.header__dropdown 
      a.button.button--burger.header__burger(href="#") Открыть меню
      ul.navigation.header__navigation 
        li.navigation__item
          a(href="/") Главная страница
        li.navigation__item
          a(href="/my") Публикации
        li.navigation__item
          a(href="/categories") Категории
        li.navigation__item
          a(href="/my/comments") Комментарии
        li.navigation__item
          a(href="/login?logout=true") Выйти
    a.header__search.button.button--search(href="/search" aria-label="поиск по сайту")
      




    
  


  


//- <header class="header header--error">
//-   <a class="header__logo header__logo--404 logo" href="#">
//-     <img src="img/icons/logo.svg" alt="логотип Тайпотеки">
  
//-   <a class="header__registration" href="#">Регистрация
//-   <a class="header__enter" href="#">Вход с паролем
//-   <a class="header__search button button--search" href="#" aria-label="поиск по сайту">
