ul.preview__pagination.pagination
  li
    a.pagination__button.button.button--backwards(
      class=`${pagination.prev ? `` : `button--disabled`}`
      href=`${pagination.pageHref}?page=${pagination.prev}`
      aria-label='Страница назад') &Ncy;&acy;&zcy;&acy;&dcy;
  
  -var index = 0
  while index < pagination.pageCount
    li.pagination__item(class=`${++index === pagination.page ? `pagination__item--active` : ``}`)
      a(href=`${pagination.pageHref}?page=${index}`) #{index}

  li
    a.pagination__button.button.button--forward(
      class=`${pagination.next ? `` : `button--disabled`}`
      href=`${pagination.pageHref}?page=${pagination.next}`
      aria-label='Страница вперед') &Vcy;&pcy;&iecy;&rcy;&iecy;&dcy;
