li.preview__item(class=`${post.picture ? `` : `preview__item--noimage`}`)
  ul.preview__breadcrumbs
    each category in post.categories
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
  if post.picture
    .preview__background
      -var postPicture = `img/post-images/${post.picture.name}`
      img.preview__background-image(src=postPicture width='460' height='240' srcset=`${postPicture} 1x, ${postPicture} 2x` alt='Фотография')
  time.preview__time(datetime=post.dateTime) #{post.dateTimeLocalized}
  h3.preview__name
    a.preview__name-link(href=`/articles/${post.id}`+backTo) #{post.title}
  p.preview__text #{post.announce}
  a.preview__comment(href=`/articles/${post.id}`+backTo)
    | &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy; 
    span.preview__cloud
    | 
    b.preview__comment-count #{post.comment_count}
