if comments.length
  ul.last__list
    each comment in comments
      li.last__list-item
        img.last__list-image(src=`img/avatars/${comment.author.avatar.name}` width='20' height='20' alt='Аватар пользователя')
        b.last__list-name #{`${comment.author.firstname} ${comment.author.lastname}`}
        a.last__list-link(href=`/articles/${comment.post.id}`) #{comment.text}
else
  p.last__empty &Zcy;&dcy;&iecy;&scy;&softcy; &pcy;&ocy;&kcy;&acy; &ncy;&icy;&chcy;&iecy;&gcy;&ocy; &ncy;&iecy;&tcy;...
