extends layout.pug

block prepend head
  meta(name="Description" content="Личный блог Типотека")
  base(href="/")

block prepend body
  -var wrapperClasses=["wrapper", "wrapper--nobackground"]

block prepend header
  -var headerType="NEW_POST"

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
      .category__add-form
        form(action='/categories' method='POST')
          input#add-form-add-category(value=`${categories.newItem || ``}` type='text' name='category-new' placeholder='Новая категория')
          label(for='add-form-add-category')
            span.visually-hidden &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          button.category__button.button.button--category(type='submit' name='action' value='new') &Dcy;&ocy;&bcy;&acy;&vcy;&icy;&tcy;&softcy;
        if (categories.newItemError)
          p(style={
            color: 'red',
            ['font-size']: '0.7rem',
            ['min-height']: '10px',
            ['padding-top']: 0,
          }) #{categories.newItemError}

      ul.category__list
        each category, index in categories
          li.category__list-item
            form(action='/categories' method='POST')
              input(id=`modify-form-category-${index}` type='text' name=`category-${category.id}` value=category.name)
              label(for=`modify-form-category-${index}`)
                span.visually-hidden &Rcy;&iecy;&dcy;&acy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
              button.category__button.button.button--category(type='submit' name='action' value='update') &Scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&tcy;&softcy;
              button.category__button.button.button--category(type='submit' name='action' value='delete') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
          if (category.error)
            li.category__list-item(style={
              color: 'red',
              ['font-size']: '0.7rem',
              ['min-height']: '10px',
              ['padding-top']: 0,
              ['margin-top']: '-20px',
            }) #{category.error}

