extends layout.pug

block prepend head
  -var siteTitle="post-page"
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  base(href="/")

block prepend body
  -var wrapperClasses=["wrapper"]

block append body
  script(src="js/main.js")

block prepend header

block content
  main
    section.post
      h1.visually-hidden &Pcy;&ocy;&scy;&tcy;
      section.post__content
        h2.visually-hidden &Ocy;&scy;&ncy;&ocy;&vcy;&ncy;&ocy;&iecy; &scy;&ocy;&dcy;&iecy;&rcy;&zhcy;&acy;&ncy;&icy;&iecy;
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') &Ncy;&acy;&zcy;&acy;&dcy;
            time.post__date(datetime=post.dateTime) #{post.dateTimeLocalized}
            h2.post__title.title.title--main #{post.title}
            ul.post__themes.themes
              each category in post.categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`) #{category.name}
                    sup #{category.count}
                  button.themes__remove-btn(type='button') &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy; &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&yucy;
          if post.picture
            .post__picture
              img(src=`img/post-images/${post.picture.name}` alt='Фото поста')
          .post__text
            h3 #{post.title}
            p #{post.announce}
            p #{post.text}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle #{post.comments.length ? `Комментарии` : `Комментарии отсутствуют`}
          if post.comments.length
            ul.comments__list
              each comment in post.comments
                li.comments__comment
                  .comments__avatar.avatar
                    img(src=`img/avatars/${comment.author.avatar.name}` alt='аватар пользователя')
                  .comments__text
                    .comments__head
                      p #{comment.author.firstname} #{comment.author.lastname} &bull;
                      time.comments__date(datetime=comment.dateTime) #{comment.dateTimeLocalized}
                    p.comments__message #{comment.text}
          if user
            .comments__footer.comments__footer--user
              form(action=`/articles/${post.id}` method='POST')
                .comments__avatar.avatar
                  img(src=`img/avatars/${user.avatar}` alt='аватар пользователя')
                label
                  textarea(rows='1' placeholder='Присоединиться к обсуждению' name='text') #{formData ? formData.text : ``}
                button.comments__button.button.button--colored(type='submit') &Ocy;&pcy;&ucy;&bcy;&lcy;&icy;&kcy;&ocy;&vcy;&acy;&tcy;&softcy;
              if errors
                each error in allErrors
                  p.comments__error #{error}

          if !user
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href="/login") Войти
              .comments__registration
                p.text.text--signature
                  a.title.title--small(href="/register") Регистрация
                  br
                  | Чтобы присоединиться к переписке нужно зарегистрироваться

