extends layout.pug

block prepend head
  meta(name="Description" content="Личный блог Типотека")

block prepend body
  -var wrapperClasses=["wrapper-color"]

block append body
  script(src="js/main.js")

block prepend header
  
block content
  main
    section.search-page
      .search-page__wrapper(class=`${query && foundPosts.length === 0 ? `search-page__wrapper--empty` : ``}`)
        h1 &Pcy;&ocy;&icy;&scy;&kcy;
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' placeholder='Что ищем?' name='query' value=query)
            button.search__button.button.button--transparent(type='submit') &Ncy;&acy;&jcy;&tcy;&icy;
          each post in foundPosts
            .search__result
              time.search__date(datetime=post.dateTime) #{post.dateTimeLocalized}
              a.search__link(href=`/articles/${post.id}`) !{post.title}
          if query && foundPosts.length === 0
            p.search-page__empty Ничего не нашлось

        
