extends layout.pug

block prepend head
  meta(name="Description" content="Личный блог Типотека")

block prepend body
  -var wrapperClasses=["wrapper-color"]

block append body
  script(src="js/main.js")

block prepend header
  
block content
  -var notFound = queryString && foundPosts && foundPosts.length === 0
  main
    section.search-page
      .search-page__wrapper(class=`${notFound ? `search-page__wrapper--empty` : ``}`)
        h1 &Pcy;&ocy;&icy;&scy;&kcy;
        .search.search-page__form
          form(action='/search' method='get')
            label
              input(type='text' placeholder='Что ищем?' name='query' value=queryString)
            button.search__button.button.button--transparent(type='submit') &Ncy;&acy;&jcy;&tcy;&icy;
          if allErrors
            each error in allErrors
              p.comments__error #{error}

          if foundPosts
            each post in foundPosts
              .search__result
                time.search__date(datetime=post.dateTime) #{post.dateTimeLocalized}
                a.search__link(href=`/articles/${post.id}?back=${url}`) !{post.title}

        if notFound
          p.search-page__empty Ничего не нашлось

        
